<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Contenedores & Logística</h1>
            <h3 class="mb-5">
                <em>Bienvenido</em>
            </h3>
            <a href="links/persona/:id" class="btn btn-info" >
            Empecemos
            </a>
        </div>
    </header>
</main>