<div class="container p-4 mx-auto">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card bg-secondary text-center text-white">
               <div class="card-body">
                    <h3>Bienvenido {{usuario.nombre}}</h3>                  
                    <a href="links/persona/:id" class="btn btn-info m-4">
                     Ingresar
                    </a>
                </div>    
            </div>
        </div>
    </div>
</div>