<div class="container mt-3">
    <table class="table table-bordered mt-3">
        <thead class="table-dark text-white text-center">
            <h3 style="text-align: center;"><u> Agregar Container </u></h3>
            <tr>
                <th scope="col">Numero</th>
                <th scope="col">Marca</th>
                <th scope="col">Capacidad</th>
                <th scope="col">Tara</th>
            </tr>
        </thead>
        <tbody class="table-warning">
             <form action="/links/agregarContainer" method="POST">
            <tr>               
                    <td><input type="text" class="form-control" name="NroContenedor" placeholder="Numero Contenedor">
                    </td>
                    <td><input type="text" class="form-control" name="marca" placeholder="Marca"></td>
                    <td><input type="number" min="20" max="40" step="20" class="form-control" name="IdCapacidad" placeholder="Pies"></td>
                    <td><input type="text" class="form-control" name="Tara" placeholder="Tara"></td>               
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <button class="btn btn-success btn-lg"> Cargar Container</button>
    </div>
    </form>
</div>