<div class="container mt-5">
<table class="table">
    <thead class="table-dark text-center">
        <h3 style="text-align: center;"><u> Agregar datos de contacto </u></h3>
        <tr>
            <th scope="col">Telefono</th>
            <th scope="col">E-mail</th>
            <th scope="col">Opcion</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <form action="/links/agregarContacto/{{cliente.id}}" method="POST">
                <td><input type="number"  class="form-control" name="telefono"
                        placeholder="Telefono"></td>
                <td><input type="text" class="form-control" name="email"
                        placeholder="E-mail"></td>
                <td>
                    <div class="form-group">
                        <button class="btn btn-success btn-block"> Guardar</button>
                </td>
            </form>
        </tr>
    </tbody>
</table>
</div>